# Ignore les fichiers de classe compilés
/bin/
/*.class

# Ignore les fichiers de configuration de l'IDE
/.vscode/
/.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/

# Ignore les répertoires et fichiers Maven
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Ignore les logs
*.log
logs/

# Fichiers système
.DS_Store
Thumbs.db

# Fichiers de configuration locaux
application-local.properties
application-dev.properties
